<h1>Addition</h1>

<form action="/wizard_add">

  <label for="zebra">Add this:</label>
  <input id="zebra" name ="first_num">

  <label for="giraffe">to this:</label>
  <input id="giraffe" name ="second_num">

  <button> Add! </button>

</form>
